<div class="input-group">
  <input
    [type]="isShowPassword ? 'text' : 'password'"
    class="form-control"
    [ngClass]="[isValid ? 'is-valid' : '', isInvalid ? 'is-invalid' : '']"
    [placeholder]="placeholder | translate"
    [attr.aria-label]="formControlName"
    [value]="formControl.value"
    (input)="handleInput($event)"
    (blur)="formControl.markAsTouched()"
  />
  <span
    class="input-group-text cursor-pointer"
    (click)="isShowPassword = !isShowPassword"
  >
    <em class="far" [ngClass]="isShowPassword ? 'fa-eye-slash' : 'fa-eye'"></em>
  </span>
</div>
<small class="text-danger" *ngIf="isInvalid">
  {{ formControl.errors?.message | translate }}
</small>
