div.profile-image {
  width: 46px;
  height: 46px;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    img {
      transform: scale(1.2);
      transition: all 0.3s;
    }
  }
  img {
    width: 100%;
  }
}

ul.profile-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: initial;
      padding: 0.5em 1em;
      display: block;
      &:hover {
        background-color: var(--bs-gray-100);
      }
    }
  }
}
